.caroussel {
  position: relative;
  .slider {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 25px;
    height: 100%;

    .image-logement {
      flex-grow: 3;
      height: 400px;
      width: 100%;
      object-fit: cover;
      border-radius: 25px;
    }

    .slide {
      opacity: 0.5;
      transition-duration: 1s ease;
      transition: all 1s ease-in-out;
    }
    .slide-active {
      width: 100%;
      opacity: 1;
      transition: all 1s ease-in-out;
    }
    li {
      list-style-type: none;
    }
    .slide-active:after {
      position: absolute;
      width: 100%;
      height: 99%;
      content: "";
      top: 0;
      left: 0;
      opacity: 1;
      transition: all 1s ease-in-out;
      border-radius: 25px;

      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3889356426164216) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  .count {
    position: relative;
    width: 30px;
    left: 50%;
    bottom: 40px;
    font-variant-numeric: tabular-nums;

    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    color: white;
  }
  .left-arrow {
    position: absolute;
    top: 37%;
    left: 3%;
    cursor: pointer;
    z-index: 2;
  }
  .right-arrow {
    position: absolute;
    top: 37%;
    right: 3%;

    transform: rotate(0.5turn);
    cursor: pointer;
  }
}
