footer {
  position: relative;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 80px;
  height: 210px;
  width: 100%;

  .logo_footer {
    color: white;
    filter: grayscale(100%) brightness(1.7);

    img {
      color: white;
      content: "\f005";
    }
  }

  p {
    color: white;
    padding-top: 20px;
  }
}
