* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
u {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: relative;
  max-width: 1400px;
  /* height: 6000px; */
  margin: auto;
  background-color: rgba(16, 16, 16, 0.636);
}

$saumon: #ff6060;
$white: white;
