* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
u {
  text-decoration: none;
  color: black;
}
html {
  height: 100vh;
}
body {
  max-height: 100vh;
  margin: 0;
}

#root {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  //position: relative;
  max-width: 1400px;
  height: 100vh;
  margin: auto;
  // padding-left: 200px;
  // background-color: rgba(255, 255, 255, 0.636);
  // background-color: rgba(16, 16, 16, 0.636);
}

$saumon: #ff6060;
$white: white;
$grey: #f7f7f7;

$primary-color: $saumon;
