@import "../../styles/App.scss";
.collapse_content_hidden {
  display: none;
}
.expander {
  display: block;
  border: 0;
  padding: 0px 0px 0px 0px;
  margin-top: 20px;
  color: $white;
  left: 0;
  text-align: left;
  background: $saumon;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  border-radius: 5px;

  .expander-summary {
    border-radius: 20px;
    padding: 6px 0 6px 20px;
    border-radius: 5px;
  }
}
details {
  border-radius: 5px;
}
.content {
  background: $grey;
  color: $saumon;
  padding: 20px 20px 20px 20px;
  font-weight: 400;
  font-size: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
