.slider {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 25px;

  .image-logement {
    flex-grow: 3;
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  .left-arrow {
    position: absolute;
    top: 160px;
    cursor: pointer;
  }
  .right-arrow {
    position: absolute;
    right: 0;
    top: 160px;

    transform: rotate(0.5turn);
    cursor: pointer;
  }
  .slide-active {
    width: 100%;
  }
}
