// @import "../../styles/App.scss";

.expander {
  display: block;
  height: auto;
  border: 0;
  padding: 0px 0px 0px 0px;
  margin-top: 20px;
  color: white;
  left: 0;
  text-align: left;
  background: #ff6060;

  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  border-radius: 5px;
  transition: height 10s ease;

  .expander_title {
    position: relative;
    display: flex;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    border-radius: 20px;
    padding: 6px 0 6px 20px;
    border-radius: 5px;
    width: 100%;
    color: #f7f7f7;
    background-color: #ff6060;
    border: none;
    cursor: pointer;
    transition: width 10s ease;
  }
  img.arrow {
    position: absolute;
    right: 3%;
    top: 20%;
    height: 25px;
    width: 13px;
    cursor: pointer;
    &.down {
      transform: rotate(0.75turn);
    }
    &.up {
      transform: rotate(0.25turn);
    }
  }

  ul {
    list-style-type: none;
    display: block;
  }

  .collapse_content {
    // width: 582px;
    display: block;
    max-height: 3000px;
    background: #f7f7f7;
    color: #ff6060;
    font-weight: 400;
    font-size: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    transition: max-height 2s ease-in;
    transition: 0.3s ease-out;
    padding: 20px 20px 20px 20px;
    &.hidden {
      padding: 0 0 0 0;
      opacity: 0;
      visibility: hidden;
      max-height: 0;
    }
  }

  // .collapse_content {
  //   // width: 582px;
  //   display: block;
  //   max-height: 3000px;
  //   background: #f7f7f7;
  //   color: #ff6060;
  //   font-weight: 400;
  //   font-size: 20px;
  //   border-bottom-left-radius: 5px;
  //   border-bottom-right-radius: 5px;

  //   transition: max-height 0.1 ease-in-out;
  //   padding: 20px 20px 20px 20px;
  // }

  // .collapse_content_hidden {
  //   opacity: 0;
  //   visibility: hidden;
  //   max-height: 0;
  // }
}
