@import "../../styles/App.scss";
.gallery {
  z-index: 0;
  position: relative;
  display: grid;
  /* offset: body; */
  grid-template-columns: repeat(3, 6fr);
  /* gap: 2% 2%; */
  width: 100%;
  height: auto;
  background: $white;
  padding: 50px;
  border-radius: 25px;
  margin-top: 43px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.img_gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  padding-top: 40px;
}
.image {
  position: relative;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  /* gap: 20px; */
  width: 83%;
  height: 360px;
  border-radius: 25px;
  filter: drop-shadow(8px 8px 10px gray);

  // &:hover {
  //   filter: grayscale(80%);
  //   filter: brightness(40%);
  // }
}
.img_gallery:after {
  position: absolute;
  border-radius: 25px;
  width: 83%;
  height: 100%;
  content: "";
  top: 0;
  left: 37;
  opacity: 1;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 50%
  );
}
h2 {
  position: absolute;
  z-index: 1;
  width: 74%;
  padding-left: 10px;
  margin: 250px 50px 0px 20px;
  color: $white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;

  // &:hover {
  //   filter: grayscale(80%);
  //   filter: brightness(40%);
  // }
}
