header {
  position: relative;
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  // padding-top: 40px;
  img {
    justify-content: center;
    align-items: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

ul {
  display: flex;
}

@media screen and (max-width: 767px) {
}
