@import '../../styles/App.scss';
.navigation {
  list-style-type: none;

  .apropos {
    position: relative;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: $saumon;
    &.active {
      text-decoration: underline;
    }
    .apropos:hover {
      text-decoration: underline;
    }
  }
  a {
    width: auto;
    margin-top: auto;
  }

  .accueil {
    position: relative;
    display: flex;
    margin-right: 70px;

    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: $saumon;
    &.active {
      text-decoration: underline;
    }
    .accueil:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 767px) {
    .accueil {
      // text-transform: uppercase;
      margin-right: 0px;
      font-size: 18px;
      padding-right: 10px;
      // width: 50%;
    }
    .apropos {
      // text-transform: uppercase;
      font-size: 18px;
      // margin-right: 20px;
      white-space: nowrap;
      height: 40px;
    }
  }
}
