@import "../../styles/App.scss";
ul {
  list-style-type: none;

  .apropos {
    position: relative;
    margin-right: 50px;
    justify-content: flex-end;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: $saumon;
    &.active {
      text-decoration: underline;
    }
    .apropos:hover {
      text-decoration: underline;
    }
  }

  .accueil {
    position: relative;
    display: flex;
    margin-right: 70px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: $saumon;
    &.active {
      text-decoration: underline;
    }
    .accueil:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 767px) {
    .accueil {
      margin-right: 0px;
      font-size: 18px;
      padding-right: 20px;
      width: 50%;
    }
    .apropos {
      font-size: 18px;
      margin-right: 20px;
      white-space: nowrap;
      height: 40px;
    }
  }
}
